 # Table of Contents
<div class="toc" style="margin-top: 1em;"><ul class="toc-item" id="toc-level0"><li><span><a href="http://localhost:8888/notebooks/project_submissions/predictive_shopping_instacart/data_preprocessing.ipynb#Imports" data-toc-modified-id="Imports-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Imports</a></span><ul class="toc-item"><li><span><a href="http://localhost:8888/notebooks/project_submissions/predictive_shopping_instacart/data_preprocessing.ipynb#Library-Imports" data-toc-modified-id="Library-Imports-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Library Imports</a></span></li><li><span><a href="http://localhost:8888/notebooks/project_submissions/predictive_shopping_instacart/data_preprocessing.ipynb#Data-Imports" data-toc-modified-id="Data-Imports-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Data Imports</a></span></li><li><span><a href="http://localhost:8888/notebooks/project_submissions/predictive_shopping_instacart/data_preprocessing.ipynb#Inspect-Dataframes" data-toc-modified-id="Inspect-Dataframes-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Inspect Dataframes</a></span></li><li><span><a href="http://localhost:8888/notebooks/project_submissions/predictive_shopping_instacart/data_preprocessing.ipynb#Merge-Product-Data" data-toc-modified-id="Merge-Product-Data-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Merge Product Data</a></span></li></ul></li><li><span><a href="http://localhost:8888/notebooks/project_submissions/predictive_shopping_instacart/data_preprocessing.ipynb#Feature-Engineering" data-toc-modified-id="Feature-Engineering-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Feature Engineering</a></span><ul class="toc-item"><li><span><a href="http://localhost:8888/notebooks/project_submissions/predictive_shopping_instacart/data_preprocessing.ipynb#Date" data-toc-modified-id="Date-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Date</a></span></li><li><span><a href="http://localhost:8888/notebooks/project_submissions/predictive_shopping_instacart/data_preprocessing.ipynb#Basket-Size" data-toc-modified-id="Basket-Size-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Basket Size</a></span></li><li><span><a href="http://localhost:8888/notebooks/project_submissions/predictive_shopping_instacart/data_preprocessing.ipynb#Proportion-of-Reorders" data-toc-modified-id="Proportion-of-Reorders-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Proportion of Reorders</a></span></li><li><span><a href="http://localhost:8888/notebooks/project_submissions/predictive_shopping_instacart/data_preprocessing.ipynb#Users'-Shop-Count" data-toc-modified-id="Users'-Shop-Count-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Users' Shop Count</a></span></li><li><span><a href="http://localhost:8888/notebooks/project_submissions/predictive_shopping_instacart/data_preprocessing.ipynb#Merge-Users-and-Orders" data-toc-modified-id="Merge-Users-and-Orders-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Merge Users and Orders</a></span></li><li><span><a href="http://localhost:8888/notebooks/project_submissions/predictive_shopping_instacart/data_preprocessing.ipynb#User-Product-Pairs---First-Appearance" data-toc-modified-id="User-Product-Pairs---First-Appearance-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>User-Product Pairs - First Appearance</a></span></li><li><span><a href="http://localhost:8888/notebooks/project_submissions/predictive_shopping_instacart/data_preprocessing.ipynb#Merge-Order-Details" data-toc-modified-id="Merge-Order-Details-2.7"><span class="toc-item-num">2.7&nbsp;&nbsp;</span>Merge Order Details</a></span></li><li><span><a href="http://localhost:8888/notebooks/project_submissions/predictive_shopping_instacart/data_preprocessing.ipynb#Add-to-Cart-(Relative-Position)" data-toc-modified-id="Add-to-Cart-(Relative-Position)-2.8"><span class="toc-item-num">2.8&nbsp;&nbsp;</span>Add to Cart (Relative Position)</a></span></li></ul></li><li><span><a href="http://localhost:8888/notebooks/project_submissions/predictive_shopping_instacart/data_preprocessing.ipynb#Build-User-Product-Order-History" data-toc-modified-id="Build-User-Product-Order-History-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Build User-Product Order History</a></span><ul class="toc-item"><li><span><a href="http://localhost:8888/notebooks/project_submissions/predictive_shopping_instacart/data_preprocessing.ipynb#User-Total-Shops" data-toc-modified-id="User-Total-Shops-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>User Total Shops</a></span></li><li><span><a href="http://localhost:8888/notebooks/project_submissions/predictive_shopping_instacart/data_preprocessing.ipynb#Mean-Days-Between-Orders" data-toc-modified-id="Mean-Days-Between-Orders-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Mean Days Between Orders</a></span></li><li><span><a href="http://localhost:8888/notebooks/project_submissions/predictive_shopping_instacart/data_preprocessing.ipynb#Mean-Add-to-Cart-Position" data-toc-modified-id="Mean-Add-to-Cart-Position-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Mean Add to Cart Position</a></span></li><li><span><a href="http://localhost:8888/notebooks/project_submissions/predictive_shopping_instacart/data_preprocessing.ipynb#Total-Times-Product-Purchased" data-toc-modified-id="Total-Times-Product-Purchased-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Total Times Product Purchased</a></span></li><li><span><a href="http://localhost:8888/notebooks/project_submissions/predictive_shopping_instacart/data_preprocessing.ipynb#Product-Purchase-Rate" data-toc-modified-id="Product-Purchase-Rate-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Product Purchase Rate</a></span></li><li><span><a href="http://localhost:8888/notebooks/project_submissions/predictive_shopping_instacart/data_preprocessing.ipynb#Most-Frequent-Purchase-Day,-Hour" data-toc-modified-id="Most-Frequent-Purchase-Day,-Hour-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span>Most Frequent Purchase Day, Hour</a></span></li><li><span><a href="http://localhost:8888/notebooks/project_submissions/predictive_shopping_instacart/data_preprocessing.ipynb#Product-Reorders" data-toc-modified-id="Product-Reorders-3.7"><span class="toc-item-num">3.7&nbsp;&nbsp;</span>Product Reorders</a></span></li><li><span><a href="http://localhost:8888/notebooks/project_submissions/predictive_shopping_instacart/data_preprocessing.ipynb#User-Reorders" data-toc-modified-id="User-Reorders-3.8"><span class="toc-item-num">3.8&nbsp;&nbsp;</span>User Reorders</a></span></li></ul></li><li><span><a href="http://localhost:8888/notebooks/project_submissions/predictive_shopping_instacart/data_preprocessing.ipynb#Sample-Dataframe" data-toc-modified-id="Sample-Dataframe-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Sample Dataframe</a></span></li><li><span><a href="http://localhost:8888/notebooks/project_submissions/predictive_shopping_instacart/data_preprocessing.ipynb#Pickle" data-toc-modified-id="Pickle-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Pickle</a></span></li></ul></div>

__Predictive Shopping with Instacart__

__Data Source:__

“The Instacart Online Grocery Shopping Dataset 2017”, accessed on October 11, 2017 from  
https://www.instacart.com/datasets/grocery-shopping-2017

# Imports

## Library Imports

In [1]:
from __future__ import print_function, division
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
%pylab inline
from scipy.stats import mode

Populating the interactive namespace from numpy and matplotlib

/anaconda/envs/py36/lib/python3.6/site-packages/IPython/core/magics/pylab.py:161: UserWarning: pylab import has clobbered these variables: ['plt']
`%matplotlib` prevents importing * from pylab and numpy
  "\n`%matplotlib` prevents importing * from pylab and numpy"

In [2]:
pd.set_option('display.max_columns', None)

## Data Imports
- Orders
- Products
- Orders Prior
- Orders Train
- Departments
- Aisles

A description of the data fields can be found on https://gist.github.com/jeremystan/c3b39d947d9b88b3ccff3147dbcf6c6b.

In [3]:
dfOrders = pd.read_csv('raw_data/orders.csv')
dfProducts = pd.read_csv('raw_data/products.csv')
dfOrdersPrior = pd.read_csv('raw_data/order_products__prior.csv')
dfOrdersTrain = pd.read_csv('raw_data/order_products__train.csv')
dfDepartments = pd.read_csv('raw_data/departments.csv')
dfAisles = pd.read_csv('raw_data/aisles.csv')

## Inspect Dataframes

In [4]:
print("Orders: %d rows" % len(dfOrders))
print("Products: %d rows" % len(dfProducts))
print("Orders prior: %d rows" % len(dfOrdersPrior))
print("Orders train: %d rows" % len(dfOrdersTrain))
print("Departments: %d rows" % len(dfDepartments))
print("Aisles: %d rows "% len(dfAisles))

Orders: 3421083 rows
Products: 49688 rows
Orders prior: 32434489 rows
Orders train: 1384617 rows
Departments: 21 rows
Aisles: 134 rows

In [5]:
dfOrders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [6]:
dfOrdersPrior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [7]:
dfOrdersTrain.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [8]:
dfProducts.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [9]:
dfDepartments.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [10]:
dfAisles.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

## Merge Product Data

Create a new dataframe "dfProdDetails" which merges all data from Products, Departments, Aisles.

In [11]:
dfProdDetails = pd.merge(dfProducts, dfAisles[['aisle_id', 'aisle']], on='aisle_id', how='left')

In [12]:
dfProdDetails = pd.merge(dfProdDetails, dfDepartments[['department_id', 'department']], on='department_id', how='left')

In [13]:
dfProdDetails.head()

,product_id,product_name,aisle_id,department_id,aisle,department
0,1,Chocolate Sandwich Cookies,61,19,cookies cakes,snacks
1,2,All-Seasons Salt,104,13,spices seasonings,pantry
2,3,Robust Golden Unsweetened Oolong Tea,94,7,tea,beverages
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,frozen meals,frozen
4,5,Green Chile Anytime Sauce,5,13,marinades meat preparation,pantry

# Feature Engineering

## Date
__Convert "days since prior order" to relative date.__  
e.g. For each user, their first order will be "NaN" but their 2nd/3rd/4th/... orders will be represented by the cumulative days since their first order.

In [14]:
dfDates = (dfOrders[['user_id','order_number', 'days_since_prior_order']]
              .groupby(by=['user_id','order_number'])
              .sum().groupby(level=[0]).cumsum()
              .rename(columns= {'days_since_prior_order': 'date'})
              .reset_index())

In [15]:
# dfDates.head()

In [16]:
dfOrders = (pd.merge(dfOrders, 
                      dfDates[['user_id', 'order_number', 'date']], 
                      how='left', 
                      on=['user_id', 'order_number']))

In [17]:
dfOrders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,date
0,2539329,1,prior,1,2,8,NaN,NaN
1,2398795,1,prior,2,3,7,15.0,15.0
2,473747,1,prior,3,3,12,21.0,36.0
3,2254736,1,prior,4,4,7,29.0,65.0
4,431534,1,prior,5,4,15,28.0,93.0

## Basket Size
__Add column "basket size".__

In [18]:
basket_size_prior = dfOrdersPrior['order_id'].value_counts().to_dict()
basket_size_train = dfOrdersTrain['order_id'].value_counts().to_dict()

In [19]:
basket_size_prior.update(basket_size_train)

In [20]:
dfOrders['basket_size'] = dfOrders['order_id'].map(basket_size_prior)

## Proportion of Reorders
__Add column "proportion basket reorder".__

In [21]:
reordered_items_prior = dfOrdersPrior.groupby(['order_id']).reordered.sum().to_dict()
reordered_items_train = dfOrdersTrain.groupby(['order_id']).reordered.sum().to_dict()

In [22]:
reordered_items_prior.update(reordered_items_train)

In [23]:
dfOrders['basket_reorder_count'] = dfOrders['order_id'].map(reordered_items_prior)

In [24]:
dfOrders['proportion_basket_reorder'] = dfOrders['basket_reorder_count'] / dfOrders['basket_size']

## Users' Shop Count
__Add column "user total shops".__

In [25]:
user_total_shops = dfOrders.groupby(['user_id']).order_id.count().to_dict()

In [26]:
dfOrders['user_total_shops'] = dfOrders['user_id'].map(user_total_shops)

## Merge Users and Orders

__Merge the columns "user id" and "order number" from the _Orders_ dataframe.__

In [27]:
dfOrdersPrior = pd.merge(dfOrdersPrior, dfOrders[['order_id', 'user_id', 'order_number']], on='order_id', how='left')
dfOrdersTrain = pd.merge(dfOrdersTrain, dfOrders[['order_id', 'user_id', 'order_number']], on='order_id', how='left')

__Sort and reorder columns__

In [28]:
dfOrdersPrior = dfOrdersPrior.sort_values(['user_id', 'product_id', 'order_number'])
dfOrdersTrain = dfOrdersTrain.sort_values(['user_id', 'product_id', 'order_number'])

In [29]:
dfOrdersPrior.reset_index(drop=True, inplace=True)
dfOrdersTrain.reset_index(drop=True, inplace=True)

In [30]:
dfOrdersPrior = dfOrdersPrior[['user_id', 'product_id', 'order_number', 'order_id', 'add_to_cart_order', 'reordered']]
dfOrdersTrain = dfOrdersTrain[['user_id', 'product_id', 'order_number', 'order_id', 'add_to_cart_order', 'reordered']]

In [31]:
dfOrdersPrior.head()

   user_id  product_id  order_number  order_id  add_to_cart_order  reordered
0        1         196             1   2539329                  1          0
1        1         196             2   2398795                  1          1
2        1         196             3    473747                  1          1
3        1         196             4   2254736                  1          1
4        1         196             5    431534                  1          1

## User-Product Pairs - First Appearance
Create a new dataframe to track orders placed for each user-product pair.

In [32]:
dfUPprior = dfOrdersPrior.groupby(['user_id', 'product_id']).order_number.first().reset_index()
dfUPprior.rename(columns={'order_number': 'first_appearance'}, inplace=True)

In [33]:
dfUPprior.head()

   user_id  product_id  first_appearance
0        1         196                 1
1        1       10258                 2
2        1       10326                 5
3        1       12427                 1
4        1       13032                 2

## Merge Order Details

Concatenate all prior orders into a single dataframe.

In [34]:
dfOrdersAll = pd.concat([dfOrdersPrior, dfOrdersTrain])

In [35]:
dfOrdersAll = dfOrdersAll.sort_values(['user_id', 'product_id', 'order_number'])
dfOrdersAll.reset_index(drop=True, inplace=True)

Create a new dataframe "dfOrderDetails" which merges data contained within dfOrders and dfOrdersPrior.

This will be used to filter by order number and get information (e.g. delta T, day, hour), in order to build up dfUPprior.

In [36]:
dfOrderDetails = (pd.merge(dfOrdersAll, 
                           dfOrders[['order_id', 'order_dow', 'order_hour_of_day', 'date', 'basket_size', 'proportion_basket_reorder', 'user_total_shops']], 
                           on='order_id', how='left')
                 )

In [37]:
dfOrderDetails.shape

(33819106, 12)

__Create new column of ones (to help create target features: one indicates a purchase was made).__

In [38]:
dfOrderDetails['ones'] = 1

## Add to Cart (Relative Position)

In [39]:
dfOrderDetails['atc_relative'] = dfOrderDetails['add_to_cart_order'] / dfOrderDetails['basket_size']

# Build User-Product Order History

Start building dfUPprior dataframe, first by creating columns for user-product stats for each order.

__Create subsets for each order number 1-10__

In [40]:
dfOrder1 = (dfOrderDetails[dfOrderDetails['order_number'] == 1]
                .rename(columns={'ones': 'o1_target', 'add_to_cart_order':'o1_add_order', 'order_dow': 'o1_day', 
                                'order_hour_of_day': 'o1_hour', 'date': 'o1_date',
                                'basket_size': 'o1_basket_size', 'proportion_basket_reorder':'o1_reorder_prop', 
                                 'atc_relative': 'o1_atc_relative'}))

dfOrder2 = (dfOrderDetails[dfOrderDetails['order_number'] == 2]
                .rename(columns={'ones': 'o2_target', 'add_to_cart_order':'o2_add_order', 'order_dow': 'o2_day', 
                                'order_hour_of_day': 'o2_hour', 'date': 'o2_date',
                                'basket_size': 'o2_basket_size', 'proportion_basket_reorder':'o2_reorder_prop',
                                'atc_relative': 'o2_atc_relative'}))

dfOrder3 = (dfOrderDetails[dfOrderDetails['order_number'] == 3]
                .rename(columns={'ones': 'o3_target', 'add_to_cart_order':'o3_add_order', 'order_dow': 'o3_day', 
                                'order_hour_of_day': 'o3_hour', 'date': 'o3_date',
                                'basket_size': 'o3_basket_size', 'proportion_basket_reorder':'o3_reorder_prop',
                                'atc_relative': 'o3_atc_relative'}))

dfOrder4 = (dfOrderDetails[dfOrderDetails['order_number'] == 4]
                .rename(columns={'ones': 'o4_target', 'add_to_cart_order':'o4_add_order', 'order_dow': 'o4_day', 
                                'order_hour_of_day': 'o4_hour', 'date': 'o4_date',
                                'basket_size': 'o4_basket_size', 'proportion_basket_reorder':'o4_reorder_prop',
                                'atc_relative': 'o4_atc_relative'}))

dfOrder5 = (dfOrderDetails[dfOrderDetails['order_number'] == 5]
                .rename(columns={'ones': 'o5_target', 'add_to_cart_order':'o5_add_order', 'order_dow': 'o5_day', 
                                'order_hour_of_day': 'o5_hour', 'date': 'o5_date',
                                'basket_size': 'o5_basket_size', 'proportion_basket_reorder':'o5_reorder_prop',
                                'atc_relative': 'o5_atc_relative'}))

dfOrder6 = (dfOrderDetails[dfOrderDetails['order_number'] == 6]
                .rename(columns={'ones': 'o6_target', 'add_to_cart_order':'o6_add_order', 'order_dow': 'o6_day', 
                                'order_hour_of_day': 'o6_hour', 'date': 'o6_date',
                                'basket_size': 'o6_basket_size', 'proportion_basket_reorder':'o6_reorder_prop',
                                'atc_relative': 'o6_atc_relative'}))

dfOrder7 = (dfOrderDetails[dfOrderDetails['order_number'] == 7]
                .rename(columns={'ones': 'o7_target', 'add_to_cart_order':'o7_add_order', 'order_dow': 'o7_day', 
                                'order_hour_of_day': 'o7_hour', 'date': 'o7_date',
                                'basket_size': 'o7_basket_size', 'proportion_basket_reorder':'o7_reorder_prop',
                                'atc_relative': 'o7_atc_relative'}))

dfOrder8 = (dfOrderDetails[dfOrderDetails['order_number'] == 8]
                .rename(columns={'ones': 'o8_target', 'add_to_cart_order':'o8_add_order', 'order_dow': 'o8_day', 
                                'order_hour_of_day': 'o8_hour', 'date': 'o8_date',
                                'basket_size': 'o8_basket_size', 'proportion_basket_reorder':'o8_reorder_prop',
                                'atc_relative': 'o8_atc_relative'}))

dfOrder9 = (dfOrderDetails[dfOrderDetails['order_number'] == 9]
                .rename(columns={'ones': 'o9_target', 'add_to_cart_order':'o9_add_order', 'order_dow': 'o9_day', 
                                'order_hour_of_day': 'o9_hour', 'date': 'o9_date',
                                'basket_size': 'o9_basket_size', 'proportion_basket_reorder':'o9_reorder_prop',
                                'atc_relative': 'o9_atc_relative'}))

dfOrder10 = (dfOrderDetails[dfOrderDetails['order_number'] == 10]
                .rename(columns={'ones': 'o10_target', 'add_to_cart_order':'o10_add_order', 'order_dow': 'o10_day', 
                                'order_hour_of_day': 'o10_hour', 'date': 'o10_date',
                                'basket_size': 'o10_basket_size', 'proportion_basket_reorder':'o10_reorder_prop',
                                'atc_relative': 'o10_atc_relative'}))

__Merge 10 subsets into dfUPprior__

In [41]:
dfUPprior = (dfUPprior
             .merge(dfOrder1[['user_id', 'product_id', 'o1_atc_relative','o1_day', 'o1_hour', 'o1_date', 'o1_basket_size','o1_reorder_prop','o1_target']],
                    how='left', on=['user_id', 'product_id'])
             .merge(dfOrder2[['user_id', 'product_id', 'o2_atc_relative','o2_day', 'o2_hour', 'o2_date', 'o2_basket_size','o2_reorder_prop','o2_target']],
                    how='left', on=['user_id', 'product_id'])
             .merge(dfOrder3[['user_id', 'product_id', 'o3_atc_relative','o3_day', 'o3_hour', 'o3_date', 'o3_basket_size','o3_reorder_prop','o3_target']],
                    how='left', on=['user_id', 'product_id'])
             .merge(dfOrder4[['user_id', 'product_id', 'o4_atc_relative','o4_day', 'o4_hour', 'o4_date', 'o4_basket_size','o4_reorder_prop','o4_target']],
                    how='left', on=['user_id', 'product_id'])
             .merge(dfOrder5[['user_id', 'product_id', 'o5_atc_relative','o5_day', 'o5_hour', 'o5_date', 'o5_basket_size','o5_reorder_prop','o5_target']],
                    how='left', on=['user_id', 'product_id'])
             .merge(dfOrder6[['user_id', 'product_id', 'o6_atc_relative','o6_day', 'o6_hour', 'o6_date', 'o6_basket_size','o6_reorder_prop','o6_target']],
                    how='left', on=['user_id', 'product_id'])
             .merge(dfOrder7[['user_id', 'product_id', 'o7_atc_relative','o7_day', 'o7_hour', 'o7_date', 'o7_basket_size','o7_reorder_prop','o7_target']],
                    how='left', on=['user_id', 'product_id'])
             .merge(dfOrder8[['user_id', 'product_id', 'o8_atc_relative','o8_day', 'o8_hour', 'o8_date', 'o8_basket_size','o8_reorder_prop','o8_target']],
                    how='left', on=['user_id', 'product_id'])
             .merge(dfOrder9[['user_id', 'product_id', 'o9_atc_relative','o9_day', 'o9_hour', 'o9_date', 'o9_basket_size','o9_reorder_prop','o9_target']],
                    how='left', on=['user_id', 'product_id'])
             .merge(dfOrder10[['user_id', 'product_id', 'o10_atc_relative','o10_day', 'o10_hour', 'o10_date', 'o10_basket_size','o10_reorder_prop','o10_target']],
                    how='left', on=['user_id', 'product_id'])
            )

## User Total Shops 
To enable further filtering.

In [42]:
user_total_shops = dict(zip(dfOrders.user_id.values, dfOrders.user_total_shops.values))

In [43]:
dfUPprior['user_total_shops'] = dfUPprior['user_id'].map(user_total_shops)

## Mean Days Between Orders

In [44]:
dfDates = dfUPprior.filter(regex='date', axis=1)

In [45]:
dfDates.drop('o10_date', axis=1, inplace=True)

In [46]:
def get_mean(dates):
    nonzero_dates = [i[~numpy.isnan(i)] for i in dates]
    mean_dates = []
    for i in nonzero_dates:
        if len(i) == 1:
            mean_dates.append(i[0])
        else:
            mean_dates.append(np.mean(np.diff(i)))
    return np.array(mean_dates)

In [47]:
dfDates['mean_days_bw_orders'] = get_mean(dfDates.values)

/anaconda/envs/py36/lib/python3.6/site-packages/numpy/core/fromnumeric.py:2909: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda/envs/py36/lib/python3.6/site-packages/numpy/core/_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

__Merge back into user-prod dataframe__

In [48]:
dfUPprior = dfUPprior.join(dfDates['mean_days_bw_orders'])

## Mean Add to Cart Position

In [49]:
dfTemp = dfUPprior.filter(regex='atc_relative', axis=1)

In [50]:
dfTemp.drop('o10_atc_relative', axis=1, inplace=True)

In [51]:
dfTemp.head()

,o1_atc_relative,o2_atc_relative,o3_atc_relative,o4_atc_relative,o5_atc_relative,o6_atc_relative,o7_atc_relative,o8_atc_relative,o9_atc_relative
0,0.2,0.166667,0.2,0.2,0.125,0.25,0.2,0.333333,0.666667
1,NaN,0.333333,0.6,0.6,0.375,0.75,0.4,0.500000,0.833333
2,NaN,NaN,NaN,NaN,0.625,NaN,NaN,NaN,NaN
3,0.6,0.500000,0.4,0.4,0.250,0.50,0.6,0.166667,1.000000
4,NaN,1.000000,NaN,NaN,NaN,NaN,1.0,NaN,NaN

In [52]:
dfTemp['mean_ATC_position'] = dfTemp.mean(axis=1)

In [53]:
dfUPprior = dfUPprior.join(dfTemp['mean_ATC_position'])

## Total Times Product Purchased

In [54]:
dfUPprior['total_times_purchased'] = (dfUPprior[['o1_target', 'o2_target', 'o3_target', 'o4_target', 'o5_target', 
                                                'o6_target', 'o7_target', 'o8_target', 'o9_target']]
                                     .sum(axis=1))

## Product Purchase Rate

In [55]:
dfUPprior['purchase_rate'] = dfUPprior['total_times_purchased'] / 9

## Most Frequent Purchase Day, Hour

In [ ]:
# dfTemp2 = dfUPprior.filter(regex='day', axis=1)

In [ ]:
# dfTemp2.drop(['o10_day', 'mean_days_bw_orders'], axis=1, inplace=True)

In [ ]:
# dfTemp2.head()

In [ ]:
# dfTemp2['mode_day'] = dfTemp2.mode(axis=1)

In [ ]:
# Above code takes too long to execute!

## Product Reorders
__Create some features based on the product itself e.g. How often a product is reordered by all users.__

In [56]:
prod_reorders = (dfOrderDetails
 .groupby(['product_id'])
 .agg({'ones': sum, 'reordered': sum})
 .reset_index())

In [57]:
prod_reorders['user_avg_reorder_prop'] = prod_reorders['reordered'] / prod_reorders['ones']

In [58]:
prod_reorders.head()

   product_id  ones  reordered  user_avg_reorder_prop
0           1  1928       1185               0.614627
1           2    94         13               0.138298
2           3   283        209               0.738516
3           4   351        161               0.458689
4           5    16         10               0.625000

In [59]:
dfUPprior = pd.merge(dfUPprior, prod_reorders[['product_id', 'user_avg_reorder_prop']], on='product_id', how='left')

## User Reorders
__Create features based on the individual user e.g. Likelihood to reorder anything__

In [60]:
user_reorders = (dfOrders
                 .groupby(['user_id'])
                 .proportion_basket_reorder
                 .mean()
                 .reset_index()
                 .rename(columns={'proportion_basket_reorder': 'user_overall_reorder_prop'}))

In [61]:
user_reorders.head()

   user_id  user_overall_reorder_prop
0        1                   0.724311
1        2                   0.443903
2        3                   0.658817
3        4                   0.028571
4        5                   0.391111

In [62]:
dfUPprior = pd.merge(dfUPprior, user_reorders[['user_id', 'user_overall_reorder_prop']], on='user_id', how='left')

In [63]:
dfUPprior.head()

,user_id,product_id,first_appearance,o1_atc_relative,o1_day,o1_hour,o1_date,o1_basket_size,o1_reorder_prop,o1_target,o2_atc_relative,o2_day,o2_hour,o2_date,o2_basket_size,o2_reorder_prop,o2_target,o3_atc_relative,o3_day,o3_hour,o3_date,o3_basket_size,o3_reorder_prop,o3_target,o4_atc_relative,o4_day,o4_hour,o4_date,o4_basket_size,o4_reorder_prop,o4_target,o5_atc_relative,o5_day,o5_hour,o5_date,o5_basket_size,o5_reorder_prop,o5_target,o6_atc_relative,o6_day,o6_hour,o6_date,o6_basket_size,o6_reorder_prop,o6_target,o7_atc_relative,o7_day,o7_hour,o7_date,o7_basket_size,o7_reorder_prop,o7_target,o8_atc_relative,o8_day,o8_hour,o8_date,o8_basket_size,o8_reorder_prop,o8_target,o9_atc_relative,o9_day,o9_hour,o9_date,o9_basket_size,o9_reorder_prop,o9_target,o10_atc_relative,o10_day,o10_hour,o10_date,o10_basket_size,o10_reorder_prop,o10_target,user_total_shops,mean_days_bw_orders,mean_ATC_position,total_times_purchased,purchase_rate,user_avg_reorder_prop,user_overall_reorder_prop
0,1,196,1,0.2,2.0,8.0,NaN,5.0,0.0,1.0,0.166667,3.0,7.0,15.0,6.0,0.5,1.0,0.2,3.0,12.0,36.0,5.0,0.6,1.0,0.2,4.0,7.0,65.0,5.0,1.0,1.0,0.125,4.0,15.0,93.0,8.0,0.625,1.0,0.25,2.0,7.0,112.0,4.0,1.0,1.0,0.2,1.0,9.0,132.0,5.0,1.0,1.0,0.333333,1.0,14.0,146.0,6.0,0.666667,1.0,0.666667,1.0,16.0,146.0,6.0,1.0,1.0,0.111111,4.0,8.0,176.0,9.0,0.666667,1.0,11,18.714286,0.260185,9.0,1.000000,0.777843,0.724311
1,1,10258,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.333333,3.0,7.0,15.0,6.0,0.5,1.0,0.6,3.0,12.0,36.0,5.0,0.6,1.0,0.6,4.0,7.0,65.0,5.0,1.0,1.0,0.375,4.0,15.0,93.0,8.0,0.625,1.0,0.75,2.0,7.0,112.0,4.0,1.0,1.0,0.4,1.0,9.0,132.0,5.0,1.0,1.0,0.500000,1.0,14.0,146.0,6.0,0.666667,1.0,0.833333,1.0,16.0,146.0,6.0,1.0,1.0,0.666667,4.0,8.0,176.0,9.0,0.666667,1.0,11,18.714286,0.548958,8.0,0.888889,0.715610,0.724311
2,1,10326,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.625,4.0,15.0,93.0,8.0,0.625,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,93.000000,0.625000,1.0,0.111111,0.653439,0.724311
3,1,12427,1,0.6,2.0,8.0,NaN,5.0,0.0,1.0,0.500000,3.0,7.0,15.0,6.0,0.5,1.0,0.4,3.0,12.0,36.0,5.0,0.6,1.0,0.4,4.0,7.0,65.0,5.0,1.0,1.0,0.250,4.0,15.0,93.0,8.0,0.625,1.0,0.50,2.0,7.0,112.0,4.0,1.0,1.0,0.6,1.0,9.0,132.0,5.0,1.0,1.0,0.166667,1.0,14.0,146.0,6.0,0.666667,1.0,1.000000,1.0,16.0,146.0,6.0,1.0,1.0,1.000000,4.0,8.0,176.0,9.0,0.666667,1.0,11,18.714286,0.490741,9.0,1.000000,0.740182,0.724311
4,1,13032,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,3.0,7.0,15.0,6.0,0.5,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,9.0,132.0,5.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.888889,4.0,8.0,176.0,9.0,0.666667,1.0,11,117.000000,1.000000,2.0,0.222222,0.661117,0.724311

In [64]:
print(dfUPprior.columns)

Index(['user_id', 'product_id', 'first_appearance', 'o1_atc_relative',
       'o1_day', 'o1_hour', 'o1_date', 'o1_basket_size', 'o1_reorder_prop',
       'o1_target', 'o2_atc_relative', 'o2_day', 'o2_hour', 'o2_date',
       'o2_basket_size', 'o2_reorder_prop', 'o2_target', 'o3_atc_relative',
       'o3_day', 'o3_hour', 'o3_date', 'o3_basket_size', 'o3_reorder_prop',
       'o3_target', 'o4_atc_relative', 'o4_day', 'o4_hour', 'o4_date',
       'o4_basket_size', 'o4_reorder_prop', 'o4_target', 'o5_atc_relative',
       'o5_day', 'o5_hour', 'o5_date', 'o5_basket_size', 'o5_reorder_prop',
       'o5_target', 'o6_atc_relative', 'o6_day', 'o6_hour', 'o6_date',
       'o6_basket_size', 'o6_reorder_prop', 'o6_target', 'o7_atc_relative',
       'o7_day', 'o7_hour', 'o7_date', 'o7_basket_size', 'o7_reorder_prop',
       'o7_target', 'o8_atc_relative', 'o8_day', 'o8_hour', 'o8_date',
       'o8_basket_size', 'o8_reorder_prop', 'o8_target', 'o9_atc_relative',
       'o9_day', 'o9_hour', 'o9_date', 'o9_basket_size', 'o9_reorder_prop',
       'o9_target', 'o10_atc_relative', 'o10_day', 'o10_hour', 'o10_date',
       'o10_basket_size', 'o10_reorder_prop', 'o10_target', 'user_total_shops',
       'mean_days_bw_orders', 'mean_ATC_position', 'total_times_purchased',
       'purchase_rate', 'user_avg_reorder_prop', 'user_overall_reorder_prop'],
      dtype='object')

# Sample Dataframe
Take a sample of dfUPprior for modelling purposes

In [67]:
dfSample = dfUPprior[dfUPprior['user_total_shops'] >= 10]

In [68]:
len(dfSample)

10132366

# Pickle

In [69]:
np.save('pickled_dataframes/dfSample.npy', dfSample.values)

In [65]:
# save the df as numpy array to outfile
np.save('pickled_dataframes/dfUPprior.npy', dfUPprior.values)

In [66]:
dfUPprior.columns

Index(['user_id', 'product_id', 'first_appearance', 'o1_atc_relative',
       'o1_day', 'o1_hour', 'o1_date', 'o1_basket_size', 'o1_reorder_prop',
       'o1_target', 'o2_atc_relative', 'o2_day', 'o2_hour', 'o2_date',
       'o2_basket_size', 'o2_reorder_prop', 'o2_target', 'o3_atc_relative',
       'o3_day', 'o3_hour', 'o3_date', 'o3_basket_size', 'o3_reorder_prop',
       'o3_target', 'o4_atc_relative', 'o4_day', 'o4_hour', 'o4_date',
       'o4_basket_size', 'o4_reorder_prop', 'o4_target', 'o5_atc_relative',
       'o5_day', 'o5_hour', 'o5_date', 'o5_basket_size', 'o5_reorder_prop',
       'o5_target', 'o6_atc_relative', 'o6_day', 'o6_hour', 'o6_date',
       'o6_basket_size', 'o6_reorder_prop', 'o6_target', 'o7_atc_relative',
       'o7_day', 'o7_hour', 'o7_date', 'o7_basket_size', 'o7_reorder_prop',
       'o7_target', 'o8_atc_relative', 'o8_day', 'o8_hour', 'o8_date',
       'o8_basket_size', 'o8_reorder_prop', 'o8_target', 'o9_atc_relative',
       'o9_day', 'o9_hour', 'o9_date', 'o9_basket_size', 'o9_reorder_prop',
       'o9_target', 'o10_atc_relative', 'o10_day', 'o10_hour', 'o10_date',
       'o10_basket_size', 'o10_reorder_prop', 'o10_target', 'user_total_shops',
       'mean_days_bw_orders', 'mean_ATC_position', 'total_times_purchased',
       'purchase_rate', 'user_avg_reorder_prop', 'user_overall_reorder_prop'],
      dtype='object')